
# Ignore library files
*.a
*.dylib
*.dll
*.jar
*.lib
*.so
*.so.*

# Ignore include files
fmod/**/*.cs
fmod/**/*.h
fmod/**/*.hpp

# Temporary IDE files
.cache/
.idea/
.vscode/
.vs/
CMakeSettings.json

# Build folders
build/
cmake-build*/
out/

# OS files
.DS_Store
